@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

html {
    background-color: F9F2E7;
}

h1 {
    font-family: 'Pacifico';
    font-size: 5em;
    text-align: center;
	padding-bottom: 0;
	margin-bottom: 0;
	color: 2D2D29;
}

h2 {
	font-family: 'Josefin Sans';
	color: white;
}

h3 {
    font-family: 'Josefin Sans';
    font-size: 1.8em;
    text-align: center;
}

h4 {
	font-family: 'Josefin Sans';
    font-size: 1.2em;
    text-align: center;
	background-color: 92C7A3;
	margin: auto 0;
	padding: 0;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 100%;
	color: 2D2D29;
}

h5 {
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans';
	color: white;
}

.grid-container {
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    padding-left: 5%;
    padding-right: 5%;
    grid-template-columns: auto auto auto;
}

.section-header {
	display: grid;
    grid-template-columns: auto;
	text-align: center;
	background-color: 215A6D;
	border-radius: 10px;
	padding: 1%;
	margin: 5%;
	margin-bottom: 3%;
	margin-top: 3%;
}

button {
    background-color: 40C0CB;
    border: 0;
    border-radius: 5px;
    padding: 30px;
    margin: 0;
    width: 100%;
	height: 200px;
    font-family: 'Josefin Sans';
	font-weight: 800;
	font-size: 1.9em;
	color: 2D2D29;
	line-height: 1.5;
}

button:active{
    background-color: 215A6D;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

.profile-photo {
	width: 25%;    
    position: relative;
    overflow: hidden;
    border-radius: 50%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	border:5px solid #40C0CB;
}

.random {
	width: 90%;
	height: 15%;
	margin: auto;
}

.random button {
	border-radius: 10px;
	padding-bottom: 50px;
	background-color: 215A6D;
	color: white;
}

.random button:active{
    background-color: 40C0CB;
}

footer {
	margin-top: 15%;
}